# Files created by a package release
debian/README.debian
debian/README.source
debian/changelog
debian/clautod.debhelper.log
debian/clautod.postinst.debhelper
debian/clautod.substvars

debian/clautod/DEBIAN/control
debian/clautod/DEBIAN/md5sums
debian/clautod/DEBIAN/triggers
debian/clautod/opt
debian/clautod/usr

debian/debhelper-build-stamp
debian/files