[Unit]
Description=Consumables-Listing AUTOmation Daemon

[Service]
ExecStart=/home/jeremy/Projects/Clauto/clautod.sh

[Install]
WantedBy=multi-user.target