[Unit]
Description=Consumables-Listing AUTOmation Daemon

[Service]
ExecStart=/opt/venvs/clautod/bin/python3 /opt/venvs/clautod/lib/python3.5/site-packages/clautod/clautod.py

[Install]
WantedBy=multi-user.target